{% extends 'ApplicationBootstrapBundle::layout.html.twig' %}

{% block title %}Error 500!{% endblock %}

{% block layoutstyle %}
    <link href="{{ asset('bundles/applicationbootstrap/css/examples/navbar_fixed_sticky_footer.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/applicationbootstrap/css/fonts/font-awesome/font-awesome.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
	        <div class="col-lg-8 col-lg-offset-2 text-center">
		        <h1>Error 500!</h1>
	            <p class="lead text-muted">Oops, an error has occurred. Internal server error!</p>
	            <div class="row">
		            <div class="col-lg-6 col-lg-offset-3">
		                <form role="form">
		                    <div class="form-group">
			                    <div class="input-group">
								    <input type="text" placeholder="search .." class="form-control" />
								    <span class="input-group-btn">
									    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
								    </span>
			                    </div>
		                    </div>
		                </form>
		            </div>
	            </div>
	            
	            <div class="row">
		            <div class="col-lg-6  col-lg-offset-3">
				        <div class="btn-group btn-group-justified">
				            <a href="{{ path('_admin-dashboard2_index') }}" class="btn btn-primary">Return Dashboard</a>
		                    <a href="{{ path('application_bootstrap_start') }}" class="btn btn-success">Return Website</a>
				        </div>
		            </div>
	            </div>
	        </div>
        </div>
    </div> <!-- /container -->
{% endblock %}