{% extends 'ApplicationBootstrapBundle::layout.html.twig' %}

{% block title %}Narrow Jumbotron Template for Bootstrap{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/applicationbootstrap/css/examples/jumbotron-narrow.css') }}" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css">
        /*body {
            padding-top: 20px;
        }*/
    </style>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block navigation %}  
    <!-- Static navbar -->
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            
                {% include 'ApplicationBootstrapBundle::_navbar.html.twig' %}
            
            </div>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
	    <div class="jumbotron">
	        <h1>Jumbotron heading</h1>
	        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
	    </div>
        <div class="row marketing">
	        <div class="col-lg-6">
	          <h4>Subheading</h4>
	          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
	
	          <h4>Subheading</h4>
	          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
	
	          <h4>Subheading</h4>
	          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	        </div>
	
	        <div class="col-lg-6">
	          <h4>Subheading</h4>
	          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
	
	          <h4>Subheading</h4>
	          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
	
	          <h4>Subheading</h4>
	          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	        </div>
        </div>
    </div> <!-- /container -->
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="container">
          <p class="text-muted">&copy; Company 2014</p>
        </div>
    </div>
{% endblock %}