{% extends 'ApplicationBootstrapBundle::layout.html.twig' %}

{% block title %}Navbar Template for Bootstrap{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('bundles/applicationbootstrap/css/examples/navbar.css') }}" rel="stylesheet" type="text/css" media="all" />
  <style type="text/css">
    /*body {
      padding-top: 20px;
    }*/
  </style>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block navigation %}  
    <!-- Static navbar -->
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            
                {% include 'ApplicationBootstrapBundle::_navbar.html.twig' %}
            
            </div>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Navbar example</h1>
            <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
            </p>
        </div>
    </div> <!-- /container -->
{% endblock %}

{% block footer %}{% endblock %}