{% extends 'ApplicationToolsBundle::layout.html.twig' %}

{% block title %}jqueryTools{% endblock %}

{% block stylesheets %}
	{# tabs #}
	<link href="{{ asset('bundles/applicationtools/css/jquerytools/tabs/tabs.css') }}" rel="stylesheet" type="text/css" media="all" />
	{# toolbox #}
	<link href="{{ asset('bundles/applicationtools/css/jquerytools/toolbox/toolbox.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
	{# tabs #}
	<script src="{{ asset('bundles/applicationtools/js/jquerytools/tabs/tabs.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
	
		$(document).ready( function(){
			/*$(".tabs").tabs(".pane", {
				onClick: function () {
				  console.log(this.getConf(), this.getCurrentPane(), this.getCurrentTab(), this.getIndex(), this.getPanes(), this.getTabs());
				}
			});*/
			
			$("ul.tabs").tabs(".panes > div",  {event:'click', initialIndex: 0});
		});
	</script>
	
	{# toolbox #}
	<script src="{{ asset('bundles/applicationtools/js/jquerytools/toolbox/toolbox.expose.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready( function(){

			// expose the form when it's clicked or cursor is focused
			var form = $(".expose").bind("click keydown", function() {

				$(this).expose({

					// when exposing is done, change form's background color
					onLoad: function() {
						form.css({backgroundColor: '#c7f8ff'});
					},

					// when "unexposed", return to original background color
					onClose: function() {
						form.css({backgroundColor: ''});
					}
				});
			});

		});
	</script>

{% endblock %}

{% block body %}


    <div id="grid">
		<div class="grid_16">
			<div class="container">
				<div class="row">
					<div class="col_1">
						<h4><a href="https://github.com/jquerytools/jquerytools">jquerytools - github</a></h4>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>

        <div class="grid_16">
            <div class="container">
                <div class="row">
                    <div class="col_3">
						<h2>Tabs</h2>

						<!-- tabs -->
						<ul class="tabs">
							<li><a href="#pane1">Tab 1</a></li>
							<li><a href="#pane2">Second tab</a></li>
							<li><a href="#pane3">A ultra long third tab</a></li>
						</ul>

						<!-- panes -->
						<div class="panes">

							<div id="pane1" class="pane">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis viverra, leo sit amet auctor fermentum, risus lorem posuere tortor, in accumsan purus magna imperdiet sem.
								</p>
								
								<p>
									Suspendisse enim. Pellentesque facilisis aliquam enim. Maecenas facilisis molestie lectus. Sed ornare ultricies tortor. Vivamus nibh metus, faucibus quis, semper ut, dignissim id, diam. 
								</p>
							</div>
							
							<div id="pane2" class="pane">
								<p>
									Mauris ultricies. Nam feugiat egestas nulla. Donec augue dui, molestie sed, tristique sit amet, blandit eu, turpis. Mauris hendrerit, nisi et sodales tempor, orci tellus laoreet elit, sed molestie dui quam vitae dui.
								</p> 
								<p>
									Pellentesque nisl. Ut adipiscing vehicula risus. Nam eget tortor. Maecenas id augue. Vivamus interdum nulla ac dolor. Fusce metus. Suspendisse eu purus. Maecenas quis lacus eget dui volutpat molestie.
								</p>
							</div>
							
							<div id="pane3" class="pane">
								<p>
									Maecenas at odio. Nunc laoreet lectus vel ante. Nullam imperdiet. Sed justo dolor, mattis eu, euismod sed, tempus a, nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								</p>
								
								<p>
									In sed dolor. Etiam eget quam ac nibh pharetra adipiscing. Nullam vitae ligula. Sed sit amet leo sit amet arcu mollis ultrices. Vivamus rhoncus sapien nec lorem. In mattis nisi. Vivamus at enim. Integer semper imperdiet massa. Vestibulum nulla massa, pretium quis, porta id, vestibulum vitae, velit.
								</p>
							</div>
						</div>

                    </div>
                    <div class="col_3">
						bbb 
					</div>
                    <div class="col_3">
						ccc
					</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
		
		<div class="grid_16">
			<div class="container">
				<div class="row">
					<div class="col_1">
						<h2>Toolbox</h2>
						<div class="wrap">

							<form class="expose">
								<label for="username">Username</label>
								<input id="username" /><br/>
								<label for="password">Password</label>
								<input id="password" type="password" /><br/>
							</form>

							<p>Works with jquery 1.8.1</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		
		
		
    </div>

{% endblock %}