{% extends 'ApplicationToolsBundle::layout.html.twig' %}

{% block title "Training" %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

    {% include 'ApplicationToolsBundle:AboutUs:_menu.html.twig' %}

    <h1>Training</h1>

{% endblock %}