{% extends 'ApplicationBootstrapBundle::layout.html.twig' %}

{% block title %}Sticky Footer and Fixed Top Navbar Example for Bootstrap{% endblock %}

{% block layoutstyle %}
    <link href="{{ asset('bundles/applicationbootstrap/css/examples/navbar_fixed_sticky_footer.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/applicationbootstrap/css/ecommerce/pricing-devoops.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block navigation %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        
            {% include 'ApplicationBootstrapBundle::_navbar.html.twig' %}
        
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
          <h1>Pricing AdminLTE</h1>
        </div>
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<div class="box box-pricing">
					<div class="box-header">
						<div class="box-name">
							<span>1GB<br/>Perfomance</span>
						</div>
					</div>
					<div class="box-content">
						<div class="row centered">
							<div class="col-sm-12">1GB RAM</div>
							<div class="col-sm-12">1 vCPU</div>
							<div class="col-sm-12">10GB SSD</div>
							<div class="col-sm-12">100Mb/s network bandwith</div>
						</div>
						<div class="row bg-default">
							<div class="col-sm-6"><b>$0.02/Hr.</b><br/>$14.60/Mo.</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-primary btn-block">Sign up</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="box box-pricing">
					<div class="box-header">
						<div class="box-name">
							<span>2GB<br/>Perfomance</span>
						</div>
					</div>
					<div class="box-content">
						<div class="row centered">
							<div class="col-sm-12">2GB RAM</div>
							<div class="col-sm-12">2 vCPU</div>
							<div class="col-sm-12">20GB SSD</div>
							<div class="col-sm-12">200Mb/s network bandwith</div>
						</div>
						<div class="row bg-default">
							<div class="col-sm-6"><b>$0.04/Hr.</b><br/>$29.20/Mo.</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-warning btn-block">Sign up</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="box box-pricing">
					<div class="box-header">
						<div class="box-name">
							<span>4GB<br/>Perfomance</span>
						</div>
					</div>
					<div class="box-content">
						<div class="row centered">
							<div class="col-sm-12">4GB RAM</div>
							<div class="col-sm-12">4 vCPU</div>
							<div class="col-sm-12">40GB SSD</div>
							<div class="col-sm-12">400Mb/s network bandwith</div>
						</div>
						<div class="row bg-default">
							<div class="col-sm-6"><b>$0.08/Hr.</b><br/>$58.40/Mo.</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-success btn-block">Sign up</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="box box-pricing">
					<div class="box-header">
						<div class="box-name">
							<span>8GB<br/>Perfomance</span>
						</div>
					</div>
					<div class="box-content">
						<div class="row centered">
							<div class="col-sm-12">8GB RAM</div>
							<div class="col-sm-12">8 vCPU</div>
							<div class="col-sm-12">80GB SSD</div>
							<div class="col-sm-12">800Mb/s network bandwith</div>
						</div>
						<div class="row bg-default">
							<div class="col-sm-6"><b>$0.16/Hr.</b><br/>$116.80/Mo.</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-danger btn-block">Sign up</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div> <!-- /container -->
{% endblock %}