{% extends 'ApplicationBootstrapBundle::layout.html.twig' %}

{% block title %}Sticky Footer and Fixed Top Navbar Example for Bootstrap{% endblock %}

{% block layoutstyle %}
    <link href="{{ asset('bundles/applicationbootstrap/css/examples/navbar_fixed_sticky_footer.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block stylesheets %}
	<style>
		.one-result{
		    margin-top: 20px;
		}
		.one-result p{
		    margin: 0px;
		}
	</style>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block navigation %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        
            {% include 'ApplicationBootstrapBundle::_navbar.html.twig' %}
        
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
          <h1>Search Results DevOOPS</h1>
        </div>
        <div class="row">
        	<div class="col-md-12">
        	
				<p class="small">About 3,870,000,000 results (0.28 seconds)</p>
				<div class="one-result">
					<a href="#" class="large">Metasearch Search Engine - Search.com</a>
					<p class="txt-primary">www.search.com</p>
					<p><b>Search</b> the Web by <b>searching</b> the best engines from one place.</p>
				</div>
				<div class="one-result">
					<a href="#" class="large">Wolfram|Alpha: Computational Knowledge Engine</a>
					<p class="txt-primary">www.wolframalpha.com</p>
					<p>Wolfram|Alpha is more than a <b>search</b> engine. It gives you access to the world's facts and data and calculates answers across a range of topics, including science ...</p>
				</div>
				<div class="one-result">
					<a href="#" class="large">Yahoo Search - Web Search</a>
					<p class="txt-primary">search.yahoo.com</p>
					<p>The <b>search</b> engine that helps you find exactly what you're looking for. Find the most relevant information, video, images, and answers from all across the Web.</p>
				</div>
				<div class="one-result">
					<a href="#" class="large">Bing</a>
					<p class="txt-primary">www.bing.com</p>
					<p>Bing is a <b>search</b> engine that brings together the best of <b>search</b> and people in your social networks to help you spend less time <b>searching</b> and more time doing.</p>
				</div>
				<div class="one-result">
					<a href="#" class="large">Google</a>
					<p class="txt-primary">www.google.com</p>
					<p><b>Search</b> the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking ...</p>
				</div>
				<div class="one-result">
					<a href="#" class="large">AOL.com - News, Sports, Weather, Entertainment, Local & Lifestyle</a>
					<p class="txt-primary">www.aol.com</p>
					<p>AOL offers today's news, sports, stock quotes, weather, movie reviews, TV trends and more. Get free email, AIM access, online radio, videos and horoscopes ...</p>
				</div>
				<div class="one-result">
					<a href="#" class="large">Search DuckDuckGo</a>
					<p class="txt-primary">https://duckduckgo.com/‎</p>
					<p><b>Search</b> anonymously. Find instantly. DuckDuckGo is a search engine that does not track you and, has more instant answers and less spam/clutter.</p>
				</div>
				<ul class="pagination">
					<li class="prev disabled"><a href="#">&#8592; Previous</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li class="next"><a href="#">Next &#8594;</a></li>
				</ul>
        	
        	</div>
        </div>
    </div> <!-- /container -->
{% endblock %}