{% extends 'ApplicationToolsBundle::layout12.html.twig' %}

{% block title %}Flaticon{% endblock %}

{% block stylesheets %}    
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

<a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a>

{% endblock %}